<div class="input-group">
  <input
    [type]="visible ? 'text' : 'password'"
    class="form-control"
    [placeholder]="placeholder"
    [disabled]="isDisabled"
    [(ngModel)]="value"
    (blur)="onTouched()"
    (input)="onChange(value)"
  />
  
  <button class="btn btn-outline-secondary d-flex align-items-center" type="button" (click)="toggleVisibility()">
    <img [src]="visible ? 'assets/eyeClosed.png' : 'assets/eyeOpen.png'"
         alt="Toggle"
         style="width: 20px; height: 20px;">
  </button>
</div>