<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Manage Rooms</h2>

    <button class="btn btn-success" routerLink="/admin/rooms/create">
      <i class="fa fa-plus"></i> + Create New Room
    </button>
  </div>

  <div class="card bg-light border-0 shadow-sm mb-4">
    <div class="card-body">
      <form (ngSubmit)="onSearch()" class="row g-3 align-items-end">
        <div class="col-md-3">
          <label for="searchText" class="form-label fw-bold text-secondary"
            >Intelligent Search</label
          >
          <input
            type="text"
            class="form-control"
            id="searchText"
            name="searchText"
            [(ngModel)]="searchText"
            placeholder="Room name, software, place..."
          />
        </div>
        <div class="col-md-3">
          <label for="campus" class="form-label fw-bold text-secondary"
            >Campus</label
          >
          <select
            class="form-select"
            id="campus"
            name="campus"
            [(ngModel)]="selectedCampus"
          >
            <option value="">All</option>
            <option value="ALCORCON">Alcorcón</option>
            <option value="MOSTOLES">Móstoles</option>
            <option value="VICALVARO">Vicálvaro</option>
            <option value="FUENLABRADA">Fuenlabrada</option>
            <option value="QUINTANA">Quintana</option>
          </select>
        </div>
        <div class="col-md-2">
          <label for="capacity" class="form-label fw-bold text-secondary"
            >Min. Capacity</label
          >
          <input
            type="number"
            class="form-control"
            id="capacity"
            name="capacity"
            [(ngModel)]="minCapacity"
            placeholder="e.g., 20"
          />
        </div>
        <div class="col-md-2">
          <label for="status" class="form-label fw-bold text-secondary"
            >Status</label
          >
          <select class="form-select" [(ngModel)]="filterActive" name="status">
            <option value="">All</option>
            <option value="true">Active</option>
            <option value="false">Disabled</option>
          </select>
        </div>
        <div class="col-md-2 d-flex gap-2">
          <button type="submit" class="btn btn-primary w-100 shadow-sm">
            Search
          </button>
          <button
            *ngIf="isSearching"
            type="button"
            class="btn btn-outline-secondary"
            (click)="clearSearch()"
          >
            ✖
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="card shadow-sm">
    <div class="card-body p-0">
      <table class="table table-hover mb-0">
        <thead class="table-light">
          <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Capacity</th>
            <th>Campus</th>
            <th class="text-end">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let room of rooms" [class.table-secondary]="!room.active">
            <td>
              {{ room.name }}
              <i
                *ngIf="!room.active"
                class="fa fa-ban text-danger ms-1"
                title="Disabled"
              ></i>
            </td>

            <td>
              <span *ngIf="room.active" class="badge bg-success">Active</span>
              <span *ngIf="!room.active" class="badge bg-danger">Disabled</span>
            </td>

            <td>{{ room.capacity }}</td>
            <td>
              <span class="badge bg-info text-dark">{{ room.camp }}</span>
            </td>

            <td class="text-end">
              <button
                class="btn btn-sm btn-outline-primary me-2"
                [routerLink]="['/admin/rooms/edit', room.id]"
              >
                Edit
              </button>
              <button
                class="btn btn-sm btn-outline-danger"
                (click)="deleteRoom(room.id)"
              >
                Delete
              </button>
            </td>
          </tr>

          <tr *ngIf="rooms.length === 0">
            <td colspan="5" class="text-center py-3 text-muted">
              No rooms found.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <app-pagination
    *ngIf="pageData"
    [pageData]="pageData"
    [currentPage]="currentPage"
    (pageChange)="loadRooms($event)"
  >
  </app-pagination>

  <div class="d-flex justify-content-start mb-5">
    <button class="btn btn-outline-secondary" routerLink="/admin">
      <i class="bi bi-arrow-left me-2"></i> Back to Admin menu
    </button>
  </div>
</div>
