.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #007bff;
}

.navbar-left .logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-right .nav-link {
  color: black;
  text-decoration: none;
  font-size: 1rem;
}

.navbar-right .nav-link:hover {
  text-decoration: underline;
}

.navbar-right .nav-button-cta {
  background-color: black;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer; /*change cursor aperance*/
  font-weight: bold;
  font-size: 0.9rem;
}

.navbar-right .nav-button-cta:hover {
  opacity: 0.9;
}

/* Style for the small header icon */
.profile-icon-header {
  width: 40px;
  height: 40px;
  object-fit: cover; /* It ensures that the image is not distorted. */
  border: 2px solid #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s;
}

.profile-icon-header:hover {
  transform: scale(1.05); /* Small effect when hovering the mouse */
}

/* Remove the arrow that Bootstrap adds by default to dropdowns */
.no-arrow::after {
  display: none !important;
}
