<div
  class="container d-flex flex-column align-items-center justify-content-center admin-container"
>
  <h2 class="mb-4 fw-bold">Welcome Admin</h2>

  <div class="card shadow border-0 p-5 admin-card">
    <div class="d-grid gap-3">
      <button
        routerLink="/admin/rooms"
        class="btn btn-light border py-3 text-secondary fw-bold shadow-sm user-select-none admin-btn"
      >
        Manage rooms
      </button>
      <button
        routerLink="/admin/softwares"
        class="btn btn-light border py-3 text-secondary fw-bold shadow-sm user-select-none admin-btn"
      >
        Manage Software
      </button>
      <button
        routerLink="/admin/users"
        class="btn btn-light border py-3 text-secondary fw-bold shadow-sm user-select-none admin-btn"
      >
        Manage Users
      </button>
      <button
        routerLink="/admin/stats"
        class="btn btn-light border py-3 text-secondary fw-bold shadow-sm user-select-none admin-btn"
      >
        Occupancy Statistics
      </button>
    </div>
  </div>

  <div class="mt-4">
    <button routerLink="/" class="btn btn-outline-secondary">
      &laquo; Back to Home
    </button>
  </div>
</div>
